.gallery-container {
  margin-left: 36px;
  margin-right: 36px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.breed-header {
  font-size: 32px;
  text-transform: capitalize;
}

.image-container {
  margin: 6px;
  width: 400px;
}

@media screen and (min-width: 600px) {
  .image-container {
    width: 200px;
  }
}

.image {
  width: 200px;
}
